### Higher Order Function
These are functions that take a function as a parameter and return a function as the result.
Reduce(), map(), and filter() are three of Pythonâ€™s most useful higher-order functions.

In [1]:
def find_sq(n):#parameter
    return n*n

In [2]:
find_sq(2)#2 is caaled argument

4

In [3]:
def print_sq(f, n):
    print(f(n))

In [5]:
print_sq(find_sq,2)

4

The functions map(), filter(), and reduce() all do the similar thing: They each take a function and a list of elements, and then return the result of applying the function to each element in the list.

Essentially, these three functions allow you to apply a function across a number of iterables, in one fell swoop. map and filter come built-in with Python (in the __builtins__ module) and require no importing. reduce, however, needs to be imported as it resides in the functools module.

### Map
syntax : map(function, *iterables)

In [8]:
t1 = (5, 7, 22, 97, 54, 62, 77, 23, 73, 61)
t2 = tuple(map(lambda x: x+3 , t1))

In [9]:
t2

(8, 10, 25, 100, 57, 65, 80, 26, 76, 64)

In [10]:
type(map(lambda x: x+3 , t1))

map

In [11]:
tuple(map(find_sq,t1))

(25, 49, 484, 9409, 2916, 3844, 5929, 529, 5329, 3721)

In [12]:
t2

(8, 10, 25, 100, 57, 65, 80, 26, 76, 64)

In [13]:
my_pets = ['coco', 'maggi', 'tyson', 'buddy']

In [14]:
"Pragyan".upper()

'PRAGYAN'

In [16]:
list(map(str.upper, my_pets))#we can even pass built in functions

['COCO', 'MAGGI', 'TYSON', 'BUDDY']

In [17]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

In [21]:
round??

In [20]:
list(map(round, circle_areas, range(1, 7)))

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

In [22]:
my_strings = ['a', 'b', 'c', 'd','e','f']
my_numbers = [1, 2, 3, 4, 5]

In [23]:
list(map(lambda x, y: (x, y), my_strings, my_numbers))

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [24]:
list(zip(my_strings,my_numbers))

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [25]:
words = ["Welcome", "to", "Real", "Python"]

In [26]:
list(map(len, words))

[7, 2, 4, 6]

In [27]:
[4]*3

[4, 4, 4]

In [28]:
first_it = [1, 2, 3]
second_it = [4]*3

In [29]:
pow(2,3)

8

In [30]:
2**3

8

In [31]:
list(map(pow, first_it, second_it))

[1, 16, 81]

In [ ]:
pow(2,3)

In [ ]:
2**3

### Filter
SYNTAX: filter (function, *iterables)

In [32]:
t1

(5, 7, 22, 97, 54, 62, 77, 23, 73, 61)

In [34]:
def xyz(n):
    if n>=50: return n

In [35]:
f1 = filter(xyz, t1)

In [37]:
type(f1)

filter

In [36]:
tuple(f1)

(97, 54, 62, 77, 73, 61)

In [40]:
a = "Pragyan"

In [41]:
a[::-1]

'naygarP'

In [38]:
dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk")

In [42]:
list(filter(lambda word: word == word[::-1], dromes))

['madam', 'anutforajaroftuna']

### Reduce
SYNTAX: reduce(function, *iterables)
reduce applies a function of two arguments cumulatively to the elements of an iterable, optionally starting with an initial argument. It has the following syntax:

reduce(func, iterable[, initial])

In [48]:
from functools import reduce

In [49]:
reduce(lambda a,b: a+b,[23,21,45,98])

187

In [50]:
23+21

44

In [51]:
44+45

89

In [47]:
89+98

187

In [ ]:
reduce??

### Sorted

In [52]:
words = ['Pragyan','Deepak','Divya','Junaed','Syed']

In [53]:
sorted(words)

['Deepak', 'Divya', 'Junaed', 'Pragyan', 'Syed']

In [54]:
ord("D")

68

In [55]:
sorted(words,key= lambda x : len(x))

['Syed', 'Divya', 'Deepak', 'Junaed', 'Pragyan']

In [56]:
sorted(words,key= lambda ele : len(ele),reverse=True)

['Pragyan', 'Deepak', 'Junaed', 'Divya', 'Syed']

In [57]:
data = [
    [101,"Anshu",3000],
    [102,"Gaurav",4000],
    [103,"Leela",5000],
    [104,"Shubham",2000],
    ]

In [58]:
#sort by alphabatical order of names
data.sort(key = lambda x:x[1])

In [59]:
data

[[101, 'Anshu', 3000],
 [102, 'Gaurav', 4000],
 [103, 'Leela', 5000],
 [104, 'Shubham', 2000]]

In [60]:
#sort descending order of salary
data.sort(key=lambda x : x[2],reverse=True)

In [61]:
data

[[103, 'Leela', 5000],
 [102, 'Gaurav', 4000],
 [101, 'Anshu', 3000],
 [104, 'Shubham', 2000]]

In [62]:

import pandas as pd

# initialize list of lists
data = [['Pragyan', 28], ['shekhar', 30], ['Ved', 29]]

# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age'])

In [63]:
df

      Name  Age
0  Pragyan   28
1  shekhar   30
2      Ved   29

In [64]:
df['Age after 5 years'] = df['Age'].apply(find_sq)

In [65]:
df

      Name  Age  Age after 5 years
0  Pragyan   28                784
1  shekhar   30                900
2      Ved   29                841